# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
package-lock.json

# IDE Stuff
**/.idea
.vscode/launch.json
*.swp

# OS STUFF
.DS_Store
.tmp

.eslintrc
.travis.yml
gulpfile.js
jest.*
test-lib.js
test/
.github/

.npmrc
