# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# IDE Stuff
**/.idea
.vscode/launch.json
*.swp

# OS STUFF
.DS_Store
.tmp

# prebuild is done before publish
prebuilt

# schemas registry, generated upon build / prepublish
lib/ajv/registry.js
registry.js

# npmrc
.npmrc

# build directory
lib

# generated test files
src/**/*.doctest.ts

# test coverage report
coverage
